/* TODO Add site wide styles */
.login-sign-in-button{
  color: white;
  background-color: rgb(216, 25, 216);
  height: 50px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  font-style: italic;
}
.login-button{
  color: white;
  background-color: rgb(216, 25, 216);
  height: 50px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  font-style: italic;
}
/* .login-background {
  background-image: url(https://www.pngitem.com/pimgs/m/9-96511_xbox-controller-cartoon-pic-game-controller-cartoon-png.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100%;
  min-width: 500px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 5%;
} */
.login-page-div{
  position: absolute;
  margin-left: 40%;
  margin-top: 15%;
  max-width: 30%;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 20px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.login-form-header{
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  font-size: 25pt;
  font-family: Arial, Helvetica, sans-serif;
  color: lightblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-style: italic;
}
.login-form-email-header{
  font-family: Arial, Helvetica, sans-serif;
  color: #20006b;
  font-weight: bolder;
  position: relative;
  display: flex;
  font-size: 15pt;
  margin-bottom: 5%;
  text-align: center;
  z-index: 20;
  padding-top: 10px;
  font-style: italic;
}
.login-input{
  border-radius: 10px;
  border-color: rgb(14, 100, 199);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 5px;
}
.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 3;
  list-style-type: none;
}
.nav-button-li{
  margin-top: 5px;
  height: 100px;
  width: 100px;
}
.nav-button{
  color: #00ff22;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  padding: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  text-decoration: none;
  font-style: italic;
}
#ConsoleFeed{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
  padding-top: 8%;

}
#console-li{
  padding: 10px;
  background-color: aquamarine;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#console-name{
  text-decoration: none;
  font-size: 25pt;
  font-family: Arial, Helvetica, sans-serif;
  color: lightblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-style: italic;
}
.ConsoleFeed-title{
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #00ff22;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-weight: bolder;
  position: absolute;
  display: flex;
  left: 53%;
  margin-left: -100px;
  font-style: italic;
  font-size: 35px;
}
body{
  background-color: rgba(255, 100, 133, 0.534);
}
#homepage-title{
  color: #00ff22;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  padding: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  text-decoration: none;
  font-size: 35pt;
  position: fixed;
  top: 10px;
  left: 10px;
  font-style: italic;
}
#console-game-li{
  padding: 10px;
  background-color: aquamarine;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#game-blurb{
  color: #9820cf;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 5px;
}
#game-name{
  text-decoration: none;
  font-size: 25pt;
  font-family: Arial, Helvetica, sans-serif;
  color: lightblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-style: italic;
  justify-self: top;
}
#game-feed-divs{
  display: flex;
  flex-direction: column;
  align-content: center;
}
#game-owner{
  text-decoration: none;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 134, 177);
  font-style: italic;
  justify-self: top;
}
#no-games{
  font-family: Arial, Helvetica, sans-serif;
  color: #00ff22;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-weight: bolder;
  position: fixed;
  display: flex;
  left: 53%;
  margin-left: -100px;
  font-style: italic;
  font-size: 35px;
  margin-top: 40px;
}
#welcome{
  font-family: Arial, Helvetica, sans-serif;
  color: #20006b;
  font-weight: bolder;
  position: relative;
  display: flex;
  font-size: 15pt;
  margin-bottom: 5%;
  text-align: center;
  z-index: 20;
  padding-top: 10px;
}
#join, #sign-in, #logout-button, #profile-button{
  padding: 30px;
  background-color: aquamarine;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #00ff22;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-style: italic;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
#welcome-buttons{
  position: relative;
  margin-bottom: 5%;
  z-index: 22;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signup-form-div{
  position: absolute;
  margin-left: 30%;
  margin-top: 15%;
  max-width: 30%;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 20px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-input{
  border-radius: 10px;
  border-color: rgb(14, 100, 199);
  border: 1px solid;
  padding: 5px;
  margin-bottom: 5px;
}
.signup-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.signup-button{
  background-color: rgb(204, 127, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff00f2;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
}
.signup-text{
  font-family: Arial, Helvetica, sans-serif;
  color: #20006b;
  font-weight: bolder;
  position: relative;
  display: flex;
  font-size: 15pt;
  margin-bottom: 5%;
  text-align: center;
  z-index: 20;
  padding-top: 10px;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
}
#profile-header{
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #00ff22;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  font-weight: bolder;
  position: absolute;
  display: flex;
  left: 53%;
  margin-left: -100px;
  font-style: italic;
  font-size: 35px;
}
.borrow-button{
  background-color: rgb(204, 127, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff00f2;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
}
.borrow-button-container{
  align-self: center;
}
#borrow-requested{
  background-color: rgb(204, 127, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff00f2;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
}
#borrow-from{
  text-decoration: none;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(109, 5, 128);
  font-style: italic;
  justify-self: top;
  margin-top: 10px;
}
.borrow-button-select{
  background-color: rgb(204, 127, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff00f2;
  font-style: italic;
  font-size: 10px;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
}
#game-borrow-form{
  display:flex;
  justify-content: center;
  margin-top: 8px;
}
.owner-option{
  background: #19dcffc7;
}
#library-list-container{
  position: absolute;
  margin-left: 15%;
  margin-top: 10%;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px #9820cf;
  overflow-y: scroll;
  width: 25%;
  max-height: 45%;
}
.library-list-ul{
  list-style-type: none;
  text-align: center;

}
.library-li:before{
  content: "*";
  color: blue;
  font-size: 20pt;
  padding-right: 5%;
  align-self:center;
  justify-self: center;
}
.library-li{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #16b3ab;
  font-style: italic;
  display: flex;
  margin-left: -15%;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(248, 149, 240);
}
#library-title{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #d3067d;
  font-style: italic;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
}
#request-list-container{
  position: absolute;
  margin-left: 50%;
  margin-top: 9%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 35%
}
#pending-request-container, #borrowed-request-container, #completed-request-container{
  border: 1px solid blueviolet;
  border-radius: 5px;
  box-shadow: 2px 2px #9820cf;
  padding: 5px;
  margin: 15px;
  width: 95%;
  background-color: aquamarine;
  overflow-y: scroll;
  margin-top: 0px;
}
.request-title{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #d3067d;
  font-style: italic;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
  padding: 10px;
}
.waiting-on, .from-my-library{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #2107b3;
  font-style: italic;
}
.request-list{

}
.request-list-ul{
  list-style-type: none
}
.request-li{
  margin-left: -10%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #2107b3;
}
.request-li:before{
  content: "*";
  color: blue;
  font-size: 10pt;
  margin-right: -5%;
  align-self:center;
  justify-self: center;
}
#add-library-container{
  position: absolute;
  margin-left: 15%;
  margin-top: 45%;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px #9820cf;
  width: 25%;
}
#add-library{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #d3067d;
  font-style: italic;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
  padding: 10px;
}
.console-option{
  min-width: 30%;
  margin: 10px;
  padding: 5px;
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #2107b3;
  font-style: italic;
}
.game-option{
  min-width: 30%;
  margin: 10px;
  padding: 5px;
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #2107b3;
  font-style: italic;
}
.add-button{
  background-color: rgb(204, 127, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff00f2;
  font-style: italic;
  font-size: 10px;
  text-decoration: none;
  padding: 10px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: blue;
  min-width: 80%;
  margin-left: 10%
}
